.card{
    display: flex;
    width: 95%;
    height: 890px
}
header h1{
    margin: 4%;
    top: 5%;
}

header ul{
    top: 5%;
    left: 40%;
}
header li{
    font-size: 12px;
    padding-left: px;
    padding-right: 2px;

}
#sobre{
    display: none;
}
#blog{
    display: none;
}

.texto{
    text-align: center;
    width: 90%;
    margin: 1%;
}

.texto #texto01{
    font-size: 35pt;}

.texto #texto02{
    font-size: 15pt;
}
#bnt1{
    display: flex;
    margin-top: 1%;
    top: 73%;
    left: 25%;
}
#bnt2{
    margin-top: 12%;
}
.texto h2{
    margin-top: 30%;
}
.texto h6{
    margin-top: 30%;
}
.imagem img{
    display: none;
    position: absolute;
    top: 16%;
    right: 7%;
}
#footer{
    font-size: 12pt;
    margin-left: 20%;
}
#texto03{
    display: none;
}
header a{
    text-align: center;
    padding: 4px 1px 4px 1px;
}
