@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background:rgba(104, 178, 252, 0.644);
    font-family: 'Inter', sans-serif;
}




.card{
    display: flex;
    flex-flow: row wrap;
    background:rgba(241, 247, 253, 0.823);
    box-shadow: 7px 13px 9px 2px rgba(0,0,0,0.51);
    height: 750px;
    width: 90%;
    margin: auto auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
}
nav{
    display: flex;


}
header{
    height: 100px;
    width: 100%;
}

header ul{
    list-style: none;
    line-height: 0;
    display: flexbox;
    position: absolute;
    top: 55px;
    left: 56%;
    padding: 12px;
    font-weight: bold;


}
header h1{
    display: flex;
    height: 50px;
    margin-left: 70px;
    margin-top: 30px;
    width: 6%;
}

header li {
    display:inline-block;
    padding: 10px;
    padding-left: 20px;
    margin-right: 18px;

   
}
header a{
    color: inherit;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 4px 2px 4px 2px;
    
}

header  a:hover{
    background: rgba(19, 98, 202, 0.885);
    transition: ease 0.4s;
}
.texto{
    display: flex;
    flex-flow: row wrap;
    margin-left: 70px;
    margin-bottom: 70px;
    padding: 10px;
    height: 600px;
    width: 45%;
}

.texto #texto01{
    font-size: 4rem;
    margin-left: 10px;
    margin-bottom: -32%;
    font-weight: 100;
}

.texto #texto02{
    margin-left: 10px;
    font-size: 20pt;
    font-weight: 400;
}
#texto03{
    margin-left: 10px;
    font-size: 18pt;
    font-weight: 700;
}
#bnt1{
    cursor: pointer;
    border: none;
    color: rgba(0, 0, 0, 0.682);
    background: none;
    font-size: 14pt;
    position: absolute;
    top: 73%;
    margin-left: 10px;
    padding: 8px 20px 8px 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
    
}
 #bnt1:hover{
    background: rgba(19, 98, 202, 0.885);
   
    transition: ease 0.4s;
}

.texto #bnt2{
    cursor: pointer;
    font-size: 15pt;
    color: rgba(0, 0, 0, 0.682);
    position: absolute;
    top: 73%;
    left: 23%;
    margin-left: 10px;
    background: none;
    border: none;
    padding: 8px 20px 8px 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#bnt2:hover{
    background: rgba(19, 98, 202, 0.885);
    transition: ease 0.4s;
}
}
.fi-br-play-alt{
    position: absolute;
    font-size: 30px;
    left: -25%;
}

.texto h2{
    position: absolute;
    top: 80%;
    margin-left: 10px;
    font-size: 25pt;
    font-weight: bold;
}

.texto h6{
    position: absolute;
    top: 88%;
    margin-left: 10px;
}

.imagem{
    display: flex;
    width: 45%;
    padding: 90px;
    margin-bottom: 70px;
}
.imagem img{
    position: absolute;
    top: 16%;
    right: 7%;
}
#footer{
    font-size: 14pt;
    margin-left: 40%;
}
